<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>CopyCat</string>
    <key>CFBundleDisplayName</key><string>CopyCat</string>
    <key>CFBundleIdentifier</key><string>com.0x63616c.copy-cat</string>
    <key>CFBundleExecutable</key><string>CopyCat</string>
    <key>CFBundleIconFile</key><string>AppIcon</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.0.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>CopyCatBuildNumber</key><string>1</string>
    <key>SUFeedURL</key><string>https://github.com/0x63616c/copy-cat/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key><string>vD+XIEmNDKgs80Zy2xmN8SfXiEc3Pf5zpvlLS2/qNd0=</string>
    <key>SUEnableAutomaticChecks</key><true/>
    <key>SUAutomaticallyUpdate</key><false/>
    <key>SUEnableSystemProfiling</key><false/>
    <key>SUVerifyUpdateBeforeExtraction</key><true/>
    <key>SURequireSignedFeed</key><true/>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>LSUIElement</key><true/>
    <key>NSHumanReadableCopyright</key><string>© 2026 World Wide Webb</string>
</dict>
</plist>
